body {
    background: #34495e;
    margin-right: 100px;
    margin-top: 100px;
}
h1 {
    color: black;
    text-align: center;
    font-size:xx-large;
    font-weight:900;
}
h1:hover{
    color:white;
    height: 10px;
}
p{
    text-decoration: none;
    color: grey;
    font-weight: 900;
    font-size: xx-large;
    text-align:center;
}
